<div class="container">
  <h1 class="text-center">The cat place</h1>
  <div class="mt-5 d-flex justify-content-around">
    <div class="mx-5  mb-5">
      <button
        class="card p-5 comicsImg d-flex justify-content-center align-items-center shadow button-style big-button"
        (click)="navigateToLuckDog()">
        {{"Lucky cat" | uppercase}}
      </button>
    </div>

    <div class="mx-5 mb-5">
      <button
        class="card p-5 charactersImg d-flex justify-content-center align-items-center shadow button-style big-button"
        (click)="navigateToBreeds()">
        {{"Breeds" | uppercase}}
      </button>
    </div>
  </div>
</div>
