<div class="container">
  <h1 class="text-center">Cat Breeds</h1>
  <div *ngFor="let breed of breeds | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }"
    class="card mb-3 ">
    <h1 class="text-center">{{ breed.name | titlecase}}</h1>
    <div class="d-flex col-md-12 justify-content-around">
      <section class="col-md-4">
        <h3>Overview</h3>
        <p><strong>Country:</strong> {{ breed.origin }}</p>
        <p><strong>Description:</strong> {{ breed.description }}</p>
      </section>


      <section class="col-md-2">
        <h3>Traits</h3>
        <p><strong>Temperament:</strong> {{ breed.temperament }}</p>
        <p><strong>Rare:</strong> {{ breed.rare ? 'Yes' : 'No' }}</p>
        <p><strong>Suppressed tail:</strong> {{ breed.suppressed_tail ? 'Yes' : 'No' }}</p>
        <p><strong>Short legs:</strong> {{ breed.short_legs ? 'Yes' : 'No' }}</p>
      </section>

      <section class="col-md-2">
        <h3>Compatibility</h3>
        <p><strong>Adaptability:</strong> {{ breed.adaptability }}</p>
        <p><strong>Dog Friendly:</strong> {{ breed.dog_friendly }}</p>
        <p><strong>Energy Level:</strong> {{ breed.energy_level }}</p>
        <p><strong>Child Friendly:</strong> {{ breed.child_friendly }}</p>
        <p><strong>Indoor:</strong> {{ breed.indoor ? 'Yes' : 'No'}}</p>

      </section>

      <section class="col-md-3">
        <h3>More info</h3>
        <p><strong>Life Span:</strong> {{ breed.life_span }}</p>
        <p><strong>Social Needs:</strong> {{ breed.social_needs }}</p>
        <p><strong>Grooming:</strong> {{ breed.grooming }}</p>
        <p><strong>Health issues:</strong> {{ breed.health_issues }}</p>
      </section>
    </div>


  </div>
  <div class="d-flex justify-content-center mt-3">
    <pagination-controls class="pagination-lg" (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</div>
